body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0a1a33, #1e3a75, #3f5fbf);
    background-attachment: fixed;
}

/* FILTROS */
.filtros-container {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.filtros-container h2 {
    margin-bottom: 15px;
}

.filtros {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.filtros select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* GRID DE CAMINHAO */
.grid-caminhao {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    padding: 30px;
}

.card {
    width: 280px;
    border-radius: 10px;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* CARD */
.card-caminhao {
    background: rgb(255, 254, 254);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(37, 26, 26, 0.1);
    transition: 0s;
    width: 100%;
}

.card-caminhao:hover {
    transform: translateY(-4px);
}

.card-caminhao img {
    width: 100%;
    height: 200px;
    object-fit;
    border-radius: 0px;
}

.card-caminhao h3 {
    margin: 10px 0.5px;
}

.card-caminhao p {
    color: #555;
    font-size: 14px;
}

.card-caminhao .preco {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

.card-caminhao button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #0033aa;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.card-caminhao button:hover {
    background: #001e6b;
}


.caminhao-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.btn-voltar {
    display: inline-block;
    margin: 20px;
    padding: 10px 18px;
    background: #0033aa;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease;
}

.btn-voltar:hover {
    background: #001e6b;
}

/* ======== TEMA ESCURO ======== */
.dark body {
    background: #0a0a0a;
    color: white;
}

.dark header {
    background: #111;
}

.dark nav a {
    background: #222;
    color: white;
}

.dark nav a:hover {
    background: #333;
}

.dark .car-card {
    background: #1a1a1a;
    color: white;
}

.dark .price {
    color: #9bb8ff;
}